[Unit]
Description=Flexlog Service
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=gofeed
ExecStart=/usr/local/bin/bleve-explorer
Restart=always
RestartSec=90
StartLimitInterval=0
StartLimitBurst=3
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
